body {
  font: 10px sans-serif;
  background-color: black;
}


.img-thumbnail{
  width:20%;
  height: auto;
}

.jumbotron{
  text-align: center;
  /* color: rgb(240, 192, 104); */
  text-shadow: 3px 3px rgb(250, 222, 168);
  color: rgb(77, 163, 233);
  /* text-shadow: 3px 3px rgb(67, 140, 199); */
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url('appetizer.png');
  background-size: cover;
}

.header{
  font-size: 400%;
}

.sub{
  font-size: 150%;
  color: white;
  text-shadow: 1px 1px wheat;
}
/* .background-image {
  width: 100%;
  height: 400px;
 
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid red;
} */

svg {
  padding: 10px 0 0 10px;
}

.arc {
  stroke: #fff;
}